<a href="https://colab.research.google.com/github/RuchitSharma/AI-ML-PROJECT-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Movie Recommendation System

**Recommender system** is a syatem that seeks to predict oe filter preferences according to the user's choices. Recommender syse=tem are utilized in a variety of areas including movies, music,news,books,research articles, search queries, social tags , and products in general. Recommender systems produce a list of recommendations in any of two ways -
**Collaborative filtering:** collaborative filtering approaches build a model from thr user's past behavior (i.e. items purchased or searched by the user)as well as similiar decisions made by other users. This model is then used to predict items(or ratings for items) that users may have an interest in.           
**Content-based filtering:** content-based filtewewring approaches uses a series of discrete charcteristics of an item in oreder to recommend additional items with similar properties content-based filtering methods are totally based on a description of the item and a profile of the user's preferences. it recommends items based on the user's past preferences. Lets's develop a basic recommendation system using python and pandas.
let's develop a  basic recommendation system by suggesting items that are most similiar to a particular items, in the case, movies. it just tells what movies/items are most similar to the user's movie choice.

Import Library

In [443]:
import pandas as pd

In [444]:
import numpy as np

Import Dataset

In [445]:
df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Movies%20Recommendation.csv')

In [446]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [447]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [448]:
df.shape

(4760, 21)

In [449]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

Get feature selection

In [450]:
df_feature = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [451]:
df_feature.shape

(4760, 5)

In [452]:
df_feature

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [453]:
x = df_feature['Movie_Genre']+''+ df_feature['Movie_Keywords']+''+ df_feature['Movie_Tagline']+''+ df_feature['Movie_Cast']+''+ df_feature['Movie_Director']

In [454]:
x.shape

(4760,)

Get Feature Text Conversion to Tokens

In [455]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [456]:
import sklearn
print(sklearn.__version__)

1.5.2

In [457]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [458]:
tfidf=TfidfVectorizer()

In [459]:
x = tfidf.fit_transform(x)

In [460]:
x.shape

(4760, 27466)

In [461]:
print(x)

  (0, 5553)	0.07352252655701756
  (0, 4842)	0.175053052455033
  (0, 17725)	0.19515517646728336
  (0, 27198)	0.2597527006839562
  (0, 8412)	0.30116325256269705
  (0, 26906)	0.14779363579183874
  (0, 2421)	0.1645837911577698
  (0, 12418)	0.1351418753960437
  (0, 21107)	0.1954632929283795
  (0, 18350)	0.1864316176399999
  (0, 11084)	0.1864316176399999
  (0, 9905)	0.14914404027246494
  (0, 21613)	0.1954632929283795
  (0, 20254)	0.1954632929283795
  (0, 1025)	0.07583312551941795
  (0, 18196)	0.08579029869987485
  (0, 15172)	0.1537691763994982
  (0, 2292)	0.1954632929283795
  (0, 12801)	0.1530338818199682
  (0, 11960)	0.20134029899961134
  (0, 9626)	0.11757910435818826
  (0, 6172)	0.11970212451073885
  (0, 18192)	0.07278761942152372
  (0, 24105)	0.10726395493180996
  (0, 13401)	0.13748876529263096
  :	:
  (4757, 17789)	0.18881341937258544
  (4757, 22017)	0.1646400247918531
  (4757, 11350)	0.21582294886514122
  (4757, 5410)	0.19734759150400596
  (4757, 1839)	0.19327629083107672
  (4757, 23178)	0.25562985703864616
  (4757, 7244)	0.25562985703864616
  (4757, 24915)	0.28543491773969387
  (4757, 22633)	0.28543491773969387
  (4757, 1328)	0.28543491773969387
  (4757, 3295)	0.28543491773969387
  (4757, 10137)	0.28543491773969387
  (4757, 2866)	0.28543491773969387
  (4758, 8651)	1.0
  (4759, 2285)	0.21465229435984196
  (4759, 9955)	0.21805075638656476
  (4759, 17552)	0.3087899934962816
  (4759, 4446)	0.282306565154911
  (4759, 12139)	0.2778063685558062
  (4759, 14742)	0.31978160936741457
  (4759, 345)	0.31978160936741457
  (4759, 6950)	0.33527342183765224
  (4759, 18841)	0.33527342183765224
  (4759, 22434)	0.33527342183765224
  (4759, 18229)	0.33527342183765224

Get Similarity Score using Cosine Similarity

cosine_similarity computes the L2-normalized dot product of vectors. Euclidean(L2) normalization projects the  vectors onto the unit sphere. and their dot product is then cosine of the angle between the points denoted by the vectors.

In [462]:
from sklearn.metrics.pairwise import cosine_similarity

In [463]:
similarity_score = cosine_similarity(x)

In [464]:
similarity_score

array([[1.        , 0.01438634, 0.03807033, ..., 0.        , 0.        ,
        0.        ],
       [0.01438634, 1.        , 0.00844858, ..., 0.        , 0.        ,
        0.        ],
       [0.03807033, 0.00844858, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [465]:
similarity_score.shape

(4760, 4760)

Get Movie Name as Input from user and validate for closest spelling

In [ ]:
Favourite_Movie_Name = input('Enter your favourite movie name: ')

In [ ]:
All_Movies_Title_List = df['Movie_Title'].tolist()

In [ ]:
import difflib

In [ ]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)

In [ ]:
close_Match = Movie_Recommendation[0]
print(close_Match)

In [ ]:
Index_of_Close_Match_Movie = df[df.Movie_Title == close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

In [ ]:
# getting a list of similar movies
Recommendation_Score = list(enumerate(similarity_score[Index_of_Close_Match_Movie]))
print(Recommendation_Score)

In [ ]:
len(Recommendation_Score)

Get ALL Movies Sort Based on Recommendation Score wrt Favourite Movie

In [ ]:
# sorting the movies based on their similarity score
Sorted_similar_movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)
print(Sorted_similar_movies)

In [ ]:
# print the name of similar movie based on the index
print('Top 30 Movies Suggested for You: \n')
i=1
for movie in Sorted_similar_movies:
  index = movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if (i<31):
    print(i,'.',title_from_index)
    i+=1

Top 10 Movie Recommendation System

In [ ]:
Movie_Name = input('Enter your favourite movie name: ')
list_of_all_titles = df['Movie_Title'].tolist()
find_close_match = difflib.get_close_matches(Movie_Name, list_of_all_titles)
close_match = find_close_match[0]
index_of_the_movie = df[df.Movie_Title == close_match]['Movie_ID'].values[0]
recommendation_score = list(enumerate(similarity_score[index_of_the_movie]))
sorted_similar_movies = sorted(recommendation_score, key = lambda x:x[1], reverse = True)
print('Top 10 Movies suggested for you: \n')
i=1
for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID==index]['Movie_Title'].values
  if (i<11):
    print(i,'.',title_from_index)
    i+=1